src/test/resources/persons.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="id" type="xs:byte"/>
    <xs:element name="name" type="xs:string"/>
    <xs:element name="address" type="xs:string"/>
    <xs:element name="additionalInfo" type="xs:string"/>
    <xs:element name="Person">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="name"/>
                <xs:element ref="address"/>
                <xs:element ref="additionalInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Persons">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Person" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>